.bg-azul {
  background-color: #2980b9;
}

.bg-azul-dark {
  background-color: #2572a4;
}

#menu > li:hover {
  background-color: white;
}

#menu > li > a {
  color: white;
}

#menu > li:hover > a {
  color: black;
}

.menu-dark {
  background-color: #434a54;
}

.menu-dark > li > a {
  color: white;
}

.menu-dark > li > a:hover {
  background-color: #383f49;
  color: white;
}

.dropdown-menu {
  width: 15em;
}

.dropdown .dropdown-menu {
  display: none;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu,
.dropstart:hover > .dropdown-menu {
  display: block;
}

.dropend:hover > .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 0.125em;
}

.dropstart:hover > .dropdown-menu {
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: 0.125em;
}

::-webkit-input-placeholder {
  font-style: italic;
}
