#calculadora {
  width: 263px;
  height: 336px;
}

#display {
  height: 84px;
}

#cuerpo {
  height: 252px;
}

.numeros {
  background-color: #8d6e63;
  height: 63px;
}

.numeros:hover {
  background-color: #6b534a;
}

.operadores {
  background-color: #4db7ad;
  height: 42px;
}

.operadores:hover {
  background-color: #3a867f;
}
